.prod-name{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(15, 71, 53);
    background-color: aquamarine;
    margin: 0;
    padding: 10px;
    width: 100%;
}
.register-main-div{
    width: 100%;
    height: auto;
    
    padding: 40px;
    background-color: rgb(156, 234, 229);
}
.register-main-div-mid{
    width: 50%;
    background-color: rgb(90, 208, 177);
    margin: auto;
   border-radius: 10px;
}
.register-main-div-info{
    width: 100%;
     border-radius: 10px;
    background-color: rgb(36, 51, 1);
    margin: auto;

}
.register-main-div-info h2{
    color: aliceblue;
    text-align: center;
    padding: 10px;
}
.register-main-div-username{
    margin: 20px;

}
.register-main-div-username-input{
    border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    
}
.register-main-div-email{
    margin: 20px;

}
.register-main-div-email-input{
   border-radius: 10px;
    border: none;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    
}
.register-main-div-btn{
   margin-top: 50px;
    width: 100%;
    padding-bottom: 30px;
    
}
.register-main-div-register-btn{
    margin-left: 10%;
    padding: 10px;
    width: 80%;
   background-color: rgb(43, 141, 117);
   border: none;
   border-radius: 10px;
   width: 150px;
   text-align: center;
   margin-left: 300px;
   font-weight: bold;
   font-size: 20px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: rgb(225, 225, 225);
}
.nav-link{
    padding: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}
.navbar{
    width: 100%;
    background-color: rgb(43, 141, 117);
    padding: 20px;

}
.prodcutimage{
    width: 200px;
    height: 200px;
    padding: 50px;
    border-radius: 20%;
    margin: 1px;
    padding: 10px;
}
.productshow{
    width: 300px;
    background-color: rgb(189, 233, 216);
    margin: 20px;
    border: 1px solid rgb(22, 137, 130);
    border-radius: 30px;
    text-align: center;
    font-weight: bold;
}
.product-div{
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 30px;
    gap: 30px;
}
.pdetails{
    width: 100%;
    height: 400px;
    background-color: rgb(189, 233, 216);
    display: inline-flex;
    margin-top: 10px;
}
.nameProd{
    margin-top: 100px;
}
.namePay{
    margin-top: 100px;
}
.pdetails-img{
    width: 40%;
    height: 100%;
    padding: 20px;
    margin-left: 30px;
    margin-top: 20px;
}
.pdetails-img img{
    width: 80%;
    height: 80%;
    border-radius: 20px;
}
.pdetails-text{
    width: 20%;
    height: 100%;
    font-weight: bold;
    padding: 20px;
}
.pdetails-text button{
    gap: 10px;
    margin: 10px;
    margin-left: 0;
    border-radius: 6px;
    background-color: rgb(43, 141, 117);
    height: 25px;
    width: 40px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.pdetails-pay{
    padding: 20px;
    width: 25%;
    height: 100%;
    font-weight: bold;
}
.pdetails-pay button{
    margin: 20px;
    margin-top: 4px;
    margin-left: 0;
    border-radius: 6px;
    background-color: rgb(43, 141, 117);
    height: 25px;
    width: 120px;
    font-weight: bold;
    font-size: 15px;
}
.btnLogout{
    border-radius: 6px;
    background-color: rgb(43, 141, 117);
    border-color: rgb(13, 85, 61);
    height: 25px;
    width: 70px;
    font-weight: bold;
    font-size: 15px;
}
.span-qty{
    text-align: center;
    margin-right: 10px;
}